div {
  box-sizing: border-box;
}

.container {
  margin: 0px auto 50px auto;
  width: 50%;
}

.chart-container {
  position: relative;
  height: 400px;
  margin-bottom: 10px;
}

.chart {
  position: relative;
  padding-bottom: 4px;
  font-family: "Open Sans";
  font-weight: 300;
}

.chart .label {
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Open Sans";
}

.chart .label-text {
  padding-left: 15px;
  line-height: 12px;
}

.chart .hover {
  border: 3px solid #4c4c4c !important;
}
.line.chart .dot {
  background-color: #fbb977;
  border: 2px white solid;
}

.line.chart .line {
  background-color: #fbb977;
}

.bar.chart .label {
  border: 1px solid #eee;
  padding: 0;
}

.bar.chart .bar {
  background-color: #fbb977;
  padding: 0 0 0 10px;
}

.bar.chart .label {
  font-size: 0.7em;
  padding: 0 0 0 10px;
}

.bar.chart .label-title {
  font-size: 12px;
  line-height: 15px;
  margin: 0px 0px 20px 0px;
  font-family: "Open Sans";
  font-weight: 300;
}

.bar2d.chart .bar {
  background-color: #fbb977;
}

.bar2d.chart .label {
  width: 20px;
  height: 20px;
  text-align: center;
}

.bar2d.chart .label-title {
  font-size: 0.5em;
  display: block;
}

#visu-bulle {
  cursor: pointer;
  height: 700px;    
}


.bubble.chart .node {
  border: 0px solid silver;
  background-color: #fbb977;
  cursor: pointer;
}

.bubble.chart .value {
  font-size: 0.5em;
}

.bubble.chart .top {
  display: none;
}


#visu-retweets {
  height: 350px;
  background-color: #f2f2f2;    
}

#visu-evenements {
  height: 200px;
}

#visu-horaire, #visu-mensuel {
  height: 300px;
/*  border: 1px solid silver;*/
}

#visu-reponses1, #visu-reponses2 {
  width: 50%;
  float: left;
}

#visu-reponses .chart-inner-container {
  height: 100%;
}

#visu-reponses {
  height: 400px;
}




.tweet {
  border: 1px solid silver;
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.tweet img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.tweet .avatar, .tweet .handle {
  float: left;
}

.tweet .handle {
  padding-left: 10px;
}

.tweet .text {
  clear: both;
  font-size: 1.3em;
  line-height: 1.3em;
}

.chart-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 4px;
  margin-top: -30px;
  margin-left: 5px;
}

.legend-container {
  margin-top: 10px;
}

.legend-color {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 2px;
}

.legend {
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .container {
    margin: 0px auto 50px auto;
    width: 80%;
  }
/*

  #image-container {
    height: 350px;
    width: 600px;
  }
*/

  .bar2d.chart .label {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 40%;
    transform: rotate(-90deg);
    transform-origin: 0;
    margin-top: 5px;
    margin-left: 4px;
    text-align: left;
  }

  #visu-reponses1, #visu-reponses2 {
    height: 100%;
    width: 100%;
  }

  #visu-reponses {
    height: 300px;
  }

  #visu-bulle {
    height: 600px;
  }
}

#image-container {
  background-size: 100%;
  background-repeat: no-repeat;

}

@media (min-width: 800px) {
#image-container {
  height: 670px;
  width: 700px;    
  background-image: url("../img/cinq_maires_3col.png");
  margin: 10px auto;
  background-position: 0px 80px;  
}
}


@media (max-width: 800px) {
  #image-container {
    text-align: left;  
    height: 580px;
    width: 100%; 
    background-image: url("../img/cinq_maires_3col.png");
    background-size: 600px 475px;
    background-position: 0px 85px;   
  }
    
  #visu-bulle {
    height: 600px;
  }
}

/*
@media (max-width: 665px) {
  #image-container {
    text-align: left;  
    height: 600px;
    width: 100%; 
    background-image: url("../img/cinq_maires_3col.png");
    background-size: 600px 475px;
    background-position: 0px 155px;  
  }
}
*/

@media (max-width: 620px) {
  #image-container {
    height: 770px;
    width: 100%;
    background-image: url("../img/cinq_maires_2col.png");
    background-size: 300px 648px;  
    background-position: 100px 95px;
    text-align: left;  
  }
    
  #visu-bulle {
    height: 500px;
  }
}

@media (max-width: 480px) {
  #image-container {
    height: 725px;
    width: 100%;
    background-image: url("../img/cinq_maires_2col.png");
    background-size: 250px 540px;  
    background-position: 0px 165px;
    text-align: left; 
  }
    
  #visu-bulle {
    height: 250px;
  }
}