div {
  box-sizing: border-box;
}

.container {
  margin: 0px auto 50px auto;
  width: 50%;
}

.chart-container {
  position: relative;
  height: 400px;
  margin-bottom: 10px;
}

.chart {
  position: relative;
/*  padding-bottom: 4px;*/
  font-family: "Arial";
  font-weight: 200;
  color: #000000
}

.chart .label {
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Arial";
}

.chart .label-text {
  padding-left: 15px;
  line-height: 12px;
}

.chart .hover {
/*  border: 3px solid #4c4c4c !important;*/
}
.line.chart .dot {
  background-color: #fbb977;
  border: 2px white solid;
}

.line.chart .line {
  background-color: #fbb977;
}

.bar.chart .label {
  border: 1px solid white;
  padding: 0;
}

.bar.chart .bar {
  background-color: #fbb977;
  padding: 0 0 0 10px;
}

.bar.chart .label {
  font-size: 0.8em;
  padding: 0 0 0 10px;
}

.bar.chart .label-title {
  font-size: 13px;
  line-height: 15px;
  margin: 0px 0px 20px 0px;
  font-family: "Arial";
  font-weight: 300;
}

.bar2d.chart .bar {
  background-color: #e6e6e6;
}

.bar2d.chart .bar:hover {
  background-color: #cc0000;
  color: white;
}

/*
.bar:hover {
  background-color: #cc0000;
}
*/

#

.bar2d.chart .label {
  width: 20px;
  height: 20px;
  text-align: center;
}

.bar2d.chart .label-title {
  font-size: 0.5em;
  display: block;
}

#visu-bulle {
  cursor: pointer;
  height: 700px;    
}


.bubble.chart .node {
  border: 0px solid silver;
  background-color: #d9d9d9;
  cursor: pointer;
}

.bubble.chart .node:hover {
  color: white;
  background-color: #cc0000;
}


.bubble.chart .value {
  font-size: 0.4em;
}

.bubble.chart .top {
  display: none;
}


#visu-retweets {
  height: 350px;
  background-color: #f2f2f2;
  margin-bottom: 20px;

}

#visu-evenements {
  height: 200px;
}

#visu-horaire, #visu-mensuel {
  height: 300px;
/*  border: 1px solid silver;*/
}

#visu-reponses1, #visu-reponses2 {
  width: 50%;
  float: left;
  margin-bottom: 40px;
}

#visu-reponses .chart-inner-container {
  height: 100%;
}

#visu-reponses {
  height: 400px;
}




.tweet {
  border: 1px solid silver;
  border-radius: 6px;
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.tweet img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.tweet .avatar, .tweet .handle {
  float: left;
    color: #666666;
}

.tweet .handle {
  padding-left: 10px;
}

.tweet .text {
  clear: both;
  font-size: 1.2em;
  line-height: 1.3em;
  color: #333333;
}

.chart-tooltip {
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 4px;
  padding: 8px;
  margin-top: -20px;
  margin-left: -60px;
  line-height: 1.3em;
  font-size: .9em;
  color: #333333;
  border: 1px solid #cccccc;
  max-width: 200px; 
}

#visu-bulle .chart-tooltip {   
  margin-top: -45px;
  margin-left: -20px;
  max-width: 80%;    
}

#visu-retweets .chart-tooltip {   
  margin-top: -45px;
  margin-left: 10px;
  max-width: 100%;
}


.legend-container {
  margin-top: 10px;
}

.legend-color {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 2px;

}

.legend {
  cursor: pointer;
  margin-top: 5px;    
  padding: 10px 10px 10px 10px;
  height: 35px;
  line-height: 35px;
  font-size: 14px
}

@media (max-width: 1000px) {
  .container {
    margin: 0px auto 50px auto;
    width: 80%;
  }
/*

  #image-container {
    height: 350px;
    width: 600px;
  }
*/

  .bar2d.chart .label {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 40%;
    transform: rotate(-90deg);
    transform-origin: 0;
    margin-top: 5px;
    margin-left: 4px;
    text-align: left;
  }

  #visu-reponses1, #visu-reponses2 {
    height: 100%;
    width: 100%;
  }

  #visu-reponses {
    height: 300px;
  }

  #visu-bulle {
    height: 600px;
  }
}

#image-container {
  background-size: 100%;
  background-repeat: no-repeat;

}

@media (min-width: 1100px) {
#image-container {
  height: 505px;
  width: 100%;    
  background-image: url("../img/cinq_maires_5col_700x435-hd.png");
  background-size: 700px 435px;    
  background-position: center;
  padding-right: 200px;
  padding-top: 45px
}
}


@media (max-width: 1100px) {
  #image-container {
    text-align: left;  
    height: 580px;
    width: 100%; 
    background-image: url("../img/cinq_maires_3col_600x475-hd.png");
    background-size: 600px 475px;
    background-position: center bottom;
    margin-bottom: 20px;  
  }
    
  #visu-bulle {
    height: 600px;
  }
}

/*
@media (max-width: 665px) {
  #image-container {
    text-align: left;  
    height: 600px;
    width: 100%; 
    background-image: url("../img/cinq_maires_3col.png");
    background-size: 600px 475px;
    background-position: 0px 155px;  
  }
}
*/

@media (max-width: 620px) {
  #image-container {
    height: 750px;
    width: 100%;
    background-image: url("../img/cinq_maires_2col_300x648-hd.png");
    background-size: 300px 648px; 
    background-position: center bottom;
    margin-bottom: 20px;  
    text-align: left; 
  }
    
  #visu-bulle {
    height: 500px;
  }
}

@media (max-width: 550px) {
  #image-container {
    height: 740px;
    width: 100%;
    background-image: url("../img/cinq_maires_2col_250x590-hd.png");
    background-size: 250px 590px;
    background-position: center bottom;
    margin-bottom: 20px;  
  }
    
  #visu-bulle {
    height: 250px;
  } 
  .legend {
    padding: 5px 5px 5px 5px;
  }
  .bar2d.chart .label {
    margin-left: -1px;
  }

}


@media (max-width: 500px) {
  #image-container {
    height: 770px;
  
  }
    


}